@font-face {
    font-family: "Helvetica Neue LT Std-Bold";
    src: url("fonts/HelveticaNeueLTStd-Bold.otf") format("opentype");
}
 
@font-face {
    font-family: "Helvetica Neue LT Std";
    src: url("./fonts/HelveticaNeue/HelveticaNeueLTStd-Italic.otf") format("opentype");
    font-weight: italic;
}
@font-face {
    font-family: "Helvetica Neue LT Std";
    src: url("./fonts/HelveticaNeue/HelveticaNeueLTStd-Bold.otf") format("opentype");
    font-weight: bold;
}
@font-face {
    font-family: "Helvetica Neue LT Std";
    src: url("fonts/HelveticaNeue/HelveticaNeueLTStd-Roman.otf") format("opentype");
    font-style: roman;
}
@font-face {
    font-family: "Manjari";
    src: url("fonts/HelveticaNeueLTStd-Italic.otf");
	font-style: regular;
}

@font-face {
    font-family: "Manjari";
    src: url("fonts/Manjari/Manjari-Regular.ttf");
    font-weight: bold;
}

@font-face {
    font-family: "Manjari";
    src: url("fonts/Manjari/Manjari-Thin.ttf");
    font-weight: thin;
}

body {
	background-color: #f5f0ea !important;
}



.lesson {
	font-family: Manjari;
	font-size: 39px;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: underline;
	text-decoration-color: #fc373e;
}

.red-span {
	font-size: 24px;
	
	color: #fc373e;
	font-family: "Helvetica Neue LT Std";
}

.activity-heading-text-pronounciation {
	padding-top: 21px;
	padding-bottom: 15px;
	text-transform: uppercase;
	font-weight: bold;
	vertical-align: middle;
	color: #f5f0ea;
	font-family: "Helvetica Neue LT Std";
	font-size: 24px;
	text-transform: uppercase;
}

.encouragement {
	font-family: Manjari;
	font-size: 40px;
	margin-top: 25px;
	font-weight: 700;
}


.activity-flashcards {

	margin-top: 50px;
	margin-bottom: 50px;
	
	color: #9fc5d0;
	font-family: "Helvetica Neue LT Std";
	font-weight: bold;
	font-size: 30px;

}

.activity-heading-text {
	padding-top: 26px;
	vertical-align: middle;
	font-weight: bold;
	padding-bottom: 15px;
	text-transform: uppercase;
	color: #f5f0ea;
	font-family: "Helvetica Neue LT Std";
	font-size: 24px;
	text-transform: uppercase;
}

.activity-logo {
	width: 57px;
	height: 57px;
	margin: 10px 10px 10px 10px;
}

.activity-block-1 {
	margin-top: 52px;
}
.activity-block {
	margin-top: 70px;
}

.welcome-text {
	padding-top: 35px;
	font-family: Manjari;
	font-size: 34px;
	font-weight: 400;
	line-height: 43.06px;
}

.activity-heading {
	background-color: #051c2c;
}

.container.w-50 {
	margin-top: 62px;
}

.header img {
	float: right;
	clear: right;
	margin-top: 33px;
	margin-bottom: 17px;
	margin-right: 21px;
}

.footer img {

	float: left;
	clear: left;
	margin-top: 33px;
	margin-bottom: 17px;
	margin-left: 21px;

}

.green-text {
	font-weight: bold;
	color: #01a04c;

}

.activity-video {
	padding: 0 0 0 0;
}

.image-style {
	float:right;
}
.lamp-globe-and-paper-plane-container {
	display: inline-block;
	width: 20px;
	height: 20px;
	margin-left: 130%;
	opacity: 0.5;
}

.bag-and-rocket-container {

	display: inline-block;
	width: 20px;
	height: 20px;
	margin-right: -110%;
	opacity: 0.5;

}

.footer {
	height: 135px;
	margin-top: 100px;
	background: #1abc9c;
	color: white;
	font-size: 30px;
	background-image: url('./img/dragon_right.png'), url('./img/dragon_right1.png');
	background-repeat: repeat-x, no-repeat;
    background-position: bottom right; 
}

.activity-body {
font-family: "Helvetica Neue LT Std";
font-size: 23px;
font-style: roman;
font-weight: 400;
}

.activity-task {
margin-bottom: 40px;
}

.btn-ask-a-question {
	color: #ffffff;
	font-family: Manjari;
	font-size: 30px;
	width: 205px;
height: 69px;
	padding: 50px 50px;
	font-weight: 700;
}

.welcome-activity {
	margin-top: 25px;
}


.header {
	height: 135px;
	margin-bottom: 110px;
	background: #1abc9c;
	color: white;
	font-size: 30px;
	background-image: url('./img/red.png'), url('./img/dragon.png');
	background-repeat: repeat-x, no-repeat;
}

